CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
src/server/build/
src/client/build/
src/lib/
video_test_sources/
.vscode/
.env